@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}

.header {
  width: 100%;
  background-color: rgb(235, 229, 247);
}
.header .nav {
  display: flex;
  background-color: rgb(235, 229, 247);
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}
.header .nav-toggle {
  display: none;
}
.header .menu {
  height: 80px;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 14px;
}
.header .menu-item {
  padding: 20px 30px;
  color: black;
}
.header .menu-link {
  text-decoration: none;
  font-size: 15px;
  color: black;
}
.header .uno {
  background-color: rgb(245, 221, 142);
  width: 100%;
}
.header .dos {
  background-color: rgb(89, 201, 177);
  width: 100%;
}
.header .tres {
  background-color: rgb(232, 177, 249);
  width: 100%;
}
.header .cuatro {
  background-color: rgb(255, 191, 127);
  width: 100%;
}
.header .inicio {
  background-image: url(../img/inicio.jpg);
  background-repeat: no-repeat;
  background-size: 270px 100px;
  padding: 50px 32px 25px 39px;
}
.header .quienes {
  background-color: rgb(245, 221, 142);
}
.header .donde {
  background-color: rgb(89, 201, 177);
}
.header .nuestro {
  background-color: rgb(232, 177, 249);
}
.header .contacto {
  background-color: rgb(255, 191, 127);
}

.main {
  background-color: rgb(235, 229, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0px;
}
.main .contenedor {
  width: 90%;
  justify-content: center;
  background-color: white;
  position: relative;
  left: 5%;
}
.main .inicio {
  display: none;
}
.main .imagen {
  display: flex;
  justify-content: center;
}
.main .paseador {
  width: 490px;
  height: 420px;
}
.main .paja-titulo {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  font-size: 28px;
  color: black;
}
.main .paja-contenido {
  display: flex;
  text-align: justify;
  width: 90%;
  position: relative;
  left: 5%;
}
.main .navigation {
  display: flex;
  width: 100%;
  height: 120px;
  background: white;
  position: relative;
  border-radius: 10px;
  justify-content: center;
}

.navigation ul {
  display: flex;
  align-items: center;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 90px;
  z-index: 2;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.25em;
  text-align: center;
  transition: 0.5s;
  color: black;
}
.navigation ul li.active a .icon {
  transform: translateY(-28px);
}
.navigation ul li a .text {
  position: absolute;
  color: black;
  font-weight: 600;
  font-size: 0.65em;
  letter-spacing: 0.04em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(15px);
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.navigation .indicator {
  position: absolute;
  top: 2px;
  width: 45px;
  height: 45px;
  background: rgb(242, 99, 118);
  border-radius: 50%;
  transition: 0.5s;
}
.navigation .indicator::before {
  content: "";
  position: absolute;
  top: 46.6%;
  left: -22.7px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 25px;
  /* box-shadow: 0px -9px 0 0 var(--clr); */
}
.navigation .indicator::After {
  content: "";
  position: absolute;
  top: 46.6%;
  right: -22.7px;
  width: 20px;
  height: 20px;
  background: tra;
  border-top-left-radius: 25px;
}
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(0px);
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(50px);
  background: rgb(243, 172, 84);
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(100px);
  background: rgb(108, 227, 148);
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(150px);
  background: rgb(99, 193, 219);
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(200px);
}

.footer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 40px;
    z-index: 1;
    position: fixed;
  }
  .header .nav {
    background-color: rgb(235, 229, 247);
    height: 30px;
    justify-content: space-between;
    top: 0;
  }
  .header .inicio {
    background-image: none;
    background-repeat: no-repeat;
    background-size: 270px 100px;
    padding: 0px 12px 20px 3px;
    z-index: 2;
  }
  .header .nav-toggle {
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
  }
  .header .logo {
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    width: max-content;
  }
  .header .menu {
    background-color: rgb(235, 229, 247);
    flex-direction: column;
    align-items: center;
    list-style: none;
    z-index: 1;
    position: fixed;
    left: 100%;
    top: 40px;
    width: 100%;
    padding: 0;
    transition: left 0.3s;
    height: calc(100% - 40px);
    overflow-y: auto;
  }
  .header .menu_visible {
    left: 0;
  }
  .header .menu-item {
    text-align: center;
    line-height: 70px;
  }
  .header .uno {
    background-color: rgb(245, 221, 142);
    width: 100%;
  }
  .header .dos {
    background-color: rgb(89, 201, 177);
    width: 100%;
  }
  .header .tres {
    background-color: rgb(232, 177, 249);
    width: 100%;
  }
  .header .cuatro {
    background-color: rgb(255, 191, 127);
    width: 100%;
  }
  .main {
    background-color: rgb(235, 229, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 0px;
  }
  .main .contenedor {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    position: relative;
    left: 5%;
  }
  .main .inicio {
    display: none;
  }
  .main .imagen {
    display: flex;
    justify-content: center;
  }
  .main .paseador {
    width: 250px;
    height: 220px;
  }
  .main .paja-titulo {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    font-size: 15px;
    color: black;
  }
  .main .paja-contenido {
    display: flex;
    text-align: justify;
    width: 90%;
    position: relative;
    left: 5%;
  }
  .main .navigation {
    display: flex;
    width: 100%;
    height: 120px;
    background: white;
    position: relative;
    border-radius: 10px;
    justify-content: center;
  }
  .navigation ul {
    display: flex;
    align-items: center;
  }
  .navigation ul li {
    position: relative;
    list-style: none;
    width: 50px;
    height: 90px;
    z-index: 2;
  }
  .navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    text-align: center;
    font-weight: 500;
  }
  .navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.25em;
    text-align: center;
    transition: 0.5s;
    color: black;
  }
  .navigation ul li.active a .icon {
    transform: translateY(-28px);
  }
  .navigation ul li a .text {
    position: absolute;
    color: black;
    font-weight: 600;
    font-size: 0.65em;
    letter-spacing: 0.04em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(15px);
  }
  .navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
  }
  .navigation .indicator {
    position: absolute;
    top: 2px;
    width: 45px;
    height: 45px;
    background: rgb(242, 99, 118);
    border-radius: 50%;
    transition: 0.5s;
  }
  .navigation .indicator::before {
    content: "";
    position: absolute;
    top: 46.6%;
    left: -22.7px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 25px;
    /* box-shadow: 0px -9px 0 0 var(--clr); */
  }
  .navigation .indicator::After {
    content: "";
    position: absolute;
    top: 46.6%;
    right: -22.7px;
    width: 20px;
    height: 20px;
    background: tra;
    border-top-left-radius: 25px;
  }
  .navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(0px);
  }
  .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(50px);
    background: rgb(243, 172, 84);
  }
  .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(100px);
    background: rgb(108, 227, 148);
  }
  .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(150px);
    background: rgb(99, 193, 219);
  }
  .navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(200px);
  }
  .footer {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=quienes.css.map */
