@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}

.header .nav {
  display: flex;
  background-color: rgb(235, 229, 247);
  justify-content: space-between;
}
.header .menu {
  max-width: 992px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  flex-direction: row;
  background-color: white;
  list-style: none;
  padding: 0 1px;
  text-align: center;
}
.header .menu-item {
  padding: 40px 0px;
  color: black;
  width: max-content;
}
.header .menu-link {
  text-decoration: none;
  font-size: 15px;
  color: black;
  padding: 20px;
}
.header .inicio {
  background-image: url(../img/inicio.jpg);
  background-repeat: no-repeat;
  background-size: 270px 100px;
  padding: 50px 32px 25px 39px;
  justify-content: center;
}
.header .quienes {
  background-color: rgb(245, 221, 142);
}
.header .donde {
  background-color: rgb(89, 201, 177);
}
.header .nuestro {
  background-color: rgb(232, 177, 249);
}
.header .contacto {
  background-color: rgb(255, 191, 127);
}

.main .contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .contenedor .letrero {
  display: flex;
  font-size: 0;
  background-image: url(../img/inicio.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80%;
  height: 425px;
  font-weight: 400;
}
.main .contenedor .img {
  display: none;
}

.navigation {
  display: flex;
  width: 100%;
  height: 50px;
  background: transparent;
  position: relative;
  border-radius: 10px;
  justify-content: center;
  position: absolute;
  top: 45%;
}
.navigation ul {
  display: flex;
  align-items: center;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 90px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.25em;
  text-align: center;
  transition: 0.5s;
  color: black;
}
.navigation ul li.active a .icon {
  transform: translateY(-31px);
}
.navigation ul li a .text {
  position: absolute;
  color: black;
  font-weight: 600;
  font-size: 0.65em;
  letter-spacing: 0.04em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(15px);
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.navigation .indicator {
  position: absolute;
  top: -38px;
  width: 45px;
  height: 45px;
  background: rgb(242, 99, 118);
  border-radius: 50%;
  transition: 0.5s;
}
.navigation .indicator::before {
  content: "";
  position: absolute;
  top: 46.6%;
  left: -22.7px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 25px;
  /* box-shadow: 0px -9px 0 0 var(--clr); */
}
.navigation .indicator::After {
  content: "";
  position: absolute;
  top: 46.6%;
  right: -22.7px;
  width: 20px;
  height: 20px;
  background: tra;
  border-top-left-radius: 25px;
  /* box-shadow: 0px -9px 0 0 var(--clr); */
}
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(0px);
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(50px);
  background: rgb(243, 172, 84);
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(100px);
  background: rgb(108, 227, 148);
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(150px);
  background: rgb(99, 193, 219);
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(200px);
}

.footer {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

@media only screen and (max-width: 600px) {
  .header .nav {
    display: flex;
    background-color: rgb(235, 229, 247);
    justify-content: center;
  }
  .header .menu {
    width: 280px;
    height: 485px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    list-style: none;
    padding: 10px 1px;
    text-align: center;
  }
  .header .menu-item {
    padding: 30px 0px;
    color: black;
  }
  .header .menu-link {
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 20px;
  }
  .header .inicio {
    background-image: url(../img/inicio.jpg);
    background-repeat: no-repeat;
    background-size: 270px 100px;
    padding: 50px 41.33px 20px 41.33px;
  }
  .header .quienes {
    background-color: rgb(245, 221, 142);
    font-size: 28px;
    padding: 20px 0px 20px 0px;
  }
  .header .donde {
    background-color: rgb(89, 201, 177);
    font-size: 28px;
    padding: 20px 0.965px 20px 0.965px;
  }
  .header .nuestro {
    background-color: rgb(232, 177, 249);
    font-size: 28px;
    padding: 20px 15.75px 20px 15.75px;
  }
  .header .contacto {
    background-color: rgb(255, 191, 127);
    font-size: 28px;
    padding: 20px 59.325px 20px 59.325px;
  }
  .main .contenedor {
    display: flex;
    flex-direction: column;
  }
  .main .contenedor .letrero {
    background-color: #f3abab;
    font-size: 7px;
    width: 100%;
    height: 25px;
    background-image: none;
    justify-content: center;
    align-items: center;
  }
  .navigation {
    display: flex;
    width: 100%;
    height: 50px;
    background: white;
    position: relative;
    border-radius: 10px;
    justify-content: center;
  }
  .navigation ul {
    display: flex;
    align-items: center;
  }
  .navigation ul li {
    position: relative;
    list-style: none;
    width: 50px;
    height: 90px;
    z-index: 1;
  }
  .navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    text-align: center;
    font-weight: 500;
  }
  .navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.25em;
    text-align: center;
    transition: 0.5s;
    color: black;
  }
  .navigation ul li.active a .icon {
    transform: translateY(-31px);
  }
  .navigation ul li a .text {
    position: absolute;
    color: black;
    font-weight: 600;
    font-size: 0.65em;
    letter-spacing: 0.04em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(15px);
  }
  .navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
  }
  .indicator {
    position: absolute;
    top: -42px;
    width: 45px;
    height: 45px;
    background: rgb(242, 99, 118);
    border-radius: 50%;
    transition: 0.5s;
  }
  .indicator::before {
    content: "";
    position: absolute;
    top: 46.6%;
    left: -22.7px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 25px;
    /* box-shadow: 0px -9px 0 0 var(--clr); */
  }
  .indicator::After {
    content: "";
    position: absolute;
    top: 46.6%;
    right: -22.7px;
    width: 20px;
    height: 20px;
    background: tra;
    border-top-left-radius: 25px;
    /* box-shadow: 0px -9px 0 0 var(--clr); */
  }
  .navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(0px);
  }
  .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(50px);
    background: rgb(243, 172, 84);
  }
  .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(100px);
    background: rgb(108, 227, 148);
  }
  .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(150px);
    background: rgb(99, 193, 219);
  }
  .navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(200px);
  }
  .footer {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
